<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryThroughComposite</key>
	<string>lastReducerInset</string>
	<key>arithmeticTangentDistance</key>
	<string>grainStyleShape</string>
	<key>baseInsideComposite</key>
	<string>symmetricPositionLeft</string>
	<key>controllerVariablePadding</key>
	<string>delicateRectTop</string>
	<key>delegateDuringStyle</key>
	<string>relationalCapacitiesResponse</string>
	<key>relationalMusicKind</key>
	<string>usageFlyweightFlags</string>
	<key>scrollableManagerAlignment</key>
	<string>columnUntilParam</string>
	<key>sliderThanStage</key>
	<string>errorVariableLocation</string>
</dict>
</plist>
