<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintContainValue</key>
	<string>containerAdapterKind</string>
	<key>descriptorContainMode</key>
	<string>binaryPhaseInterval</string>
	<key>entityFormTop</key>
	<string>immutableExceptionSaturation</string>
	<key>handlerContainTier</key>
	<string>coordinatorActivityScale</string>
	<key>scenePlatformResponse</key>
	<string>errorForOperation</string>
	<key>themeChainOrigin</key>
	<string>queryPerFunction</string>
</dict>
</plist>
