<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationThanFunction</key>
	<string>opaqueFactoryInterval</string>
	<key>completerByOperation</key>
	<string>roleAboutVisitor</string>
	<key>globalTableCount</key>
	<string>scaffoldShapeIndex</string>
	<key>otherMobileStyle</key>
	<string>lostWidgetCount</string>
	<key>promiseAtSystem</key>
	<string>prismaticConfigurationTransparency</string>
	<key>sharedGrayscaleRight</key>
	<string>retainedCharacterState</string>
	<key>sharedMonsterSpacing</key>
	<string>adaptiveBlocScale</string>
	<key>textureOutsideFlyweight</key>
	<string>ignoredBufferDelay</string>
</dict>
</plist>
