<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerFunctionCount</key>
	<string>rectThroughParameter</string>
	<key>futureScopeOrientation</key>
	<string>transitionAboutValue</string>
	<key>granularTernaryDepth</key>
	<string>callbackValueKind</string>
	<key>imagePatternBrightness</key>
	<string>toolOfPlatform</string>
	<key>permanentPopupBound</key>
	<string>asyncTextureTension</string>
</dict>
</plist>
