<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAlongComposite</key>
	<string>activeCosineAcceleration</string>
	<key>completerTierRight</key>
	<string>hashForMediator</string>
	<key>gradientBridgeTail</key>
	<string>histogramShapePosition</string>
	<key>parallelTimerTop</key>
	<string>interpolationScopeScale</string>
	<key>publicQueueIndex</key>
	<string>sineWorkFeedback</string>
	<key>queryAsStage</key>
	<string>hashProcessDensity</string>
	<key>queuePatternShade</key>
	<string>progressbarPhaseResponse</string>
	<key>tabbarOfMode</key>
	<string>intensityWithoutStyle</string>
</dict>
</plist>
