<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterTaskCenter</key>
	<string>storeChainLeft</string>
	<key>containerSystemPosition</key>
	<string>associatedGemFlags</string>
	<key>flexParamResponse</key>
	<string>zoneBufferScale</string>
	<key>relationalBlocFeedback</key>
	<string>advancedContainerBound</string>
</dict>
</plist>
