<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerFlyweightTag</key>
	<string>reductionDecoratorDirection</string>
	<key>customizedStateInterval</key>
	<string>firstTitleTail</string>
	<key>functionalAnchorBrightness</key>
	<string>scrollStageTheme</string>
	<key>graphScopeType</key>
	<string>nibBeyondStage</string>
	<key>inkwellVarColor</key>
	<string>streamByLevel</string>
	<key>managerNearWork</key>
	<string>requiredActionContrast</string>
	<key>radiusAndJob</key>
	<string>interactiveLogAlignment</string>
</dict>
</plist>
