<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastGestureHead</key>
	<string>repositoryAdapterBound</string>
	<key>loopProcessSize</key>
	<string>widgetLevelResponse</string>
	<key>originalCubitPadding</key>
	<string>fixedTransformerOffset</string>
	<key>zoneProcessFeedback</key>
	<string>smartZoneVisible</string>
</dict>
</plist>
