<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocUntilInterpreter</key>
	<string>intermediateMenuOffset</string>
	<key>modalPhaseSkewx</key>
	<string>timerIncludeStructure</string>
	<key>multiInterpolationLeft</key>
	<string>lastBlocState</string>
	<key>nativePointAlignment</key>
	<string>factoryFromStrategy</string>
	<key>numericalMediaLocation</key>
	<string>adaptivePreviewStyle</string>
	<key>scrollableGemBound</key>
	<string>layoutLayerSpeed</string>
	<key>taskNumberMomentum</key>
	<string>providerNumberSkewy</string>
</dict>
</plist>
