<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedGrainHue</key>
	<string>textLevelTransparency</string>
	<key>entityValueOpacity</key>
	<string>taskStateSpacing</string>
	<key>flexSystemSkewx</key>
	<string>robustBufferForce</string>
	<key>radiusWithFunction</key>
	<string>cubitStrategyTransparency</string>
	<key>stateInStructure</key>
	<string>sharedShaderFrequency</string>
</dict>
</plist>
