<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layerInterpreterSaturation</key>
	<string>metadataWorkSpacing</string>
	<key>monsterCycleVelocity</key>
	<string>viewDuringSystem</string>
	<key>sizedboxWorkContrast</key>
	<string>alertOutsideStrategy</string>
	<key>stackUntilFlyweight</key>
	<string>exceptionDecoratorSpacing</string>
	<key>tabbarAndPattern</key>
	<string>brushProxyInterval</string>
</dict>
</plist>
