<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexFlyweightInterval</key>
	<string>delegateVarMode</string>
	<key>gesturedetectorAdapterTop</key>
	<string>prevMatrixFormat</string>
	<key>localResultOrientation</key>
	<string>globalBufferBottom</string>
	<key>observerBufferIndex</key>
	<string>resolverInsideBuffer</string>
	<key>tableMediatorCount</key>
	<string>checkboxTempleKind</string>
	<key>workflowContainMediator</key>
	<string>labelAwaySingleton</string>
</dict>
</plist>
