<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxScopeInterval</key>
	<string>containerOrSingleton</string>
	<key>equipmentSinceForm</key>
	<string>alignmentThanTemple</string>
	<key>progressbarLikeSystem</key>
	<string>beginnerResourceHue</string>
	<key>typicalInterfaceTag</key>
	<string>titleAlongCycle</string>
</dict>
</plist>
