<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateAlongMode</key>
	<string>stateCommandTop</string>
	<key>containerShapeDirection</key>
	<string>bulletOfShape</string>
	<key>listenerFormDirection</key>
	<string>gradientAboutPlatform</string>
	<key>lossMediatorKind</key>
	<string>textThanInterpreter</string>
	<key>metadataModeDuration</key>
	<string>kernelStateColor</string>
	<key>radiusObserverDensity</key>
	<string>agileBlocTag</string>
	<key>synchronousCallbackOrientation</key>
	<string>topicContextLocation</string>
</dict>
</plist>
