<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocNearPhase</key>
	<string>skinCompositeDensity</string>
	<key>easyControllerVisible</key>
	<string>usecaseByVisitor</string>
	<key>operationStateDirection</key>
	<string>gridNearEnvironment</string>
	<key>resourceSingletonOffset</key>
	<string>interactiveUnarySize</string>
	<key>routeContainWork</key>
	<string>routerTaskAcceleration</string>
	<key>routerExceptOperation</key>
	<string>mutablePromiseDelay</string>
	<key>tableVarLeft</key>
	<string>arithmeticLabelDepth</string>
</dict>
</plist>
