<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintVarStyle</key>
	<string>subtleAlignmentMargin</string>
	<key>handlerAboutVar</key>
	<string>webSpriteAppearance</string>
	<key>heroViaParam</key>
	<string>queueKindTint</string>
	<key>keyServiceMode</key>
	<string>buttonCommandBottom</string>
	<key>mapDespitePlatform</key>
	<string>managerOfParameter</string>
	<key>particleNearTier</key>
	<string>futureAgainstBuffer</string>
	<key>signVersusScope</key>
	<string>independentNavigatorTop</string>
	<key>taskPatternShape</key>
	<string>visibleTextfieldType</string>
</dict>
</plist>
