<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intuitiveWidgetBound</key>
	<string>sliderOfWork</string>
	<key>managerAwayProxy</key>
	<string>constraintAgainstSystem</string>
	<key>menuInFacade</key>
	<string>invisibleRichtextRate</string>
	<key>previewAmongForm</key>
	<string>expandedByAdapter</string>
	<key>seamlessTopicSkewy</key>
	<string>operationByOperation</string>
	<key>utilPhaseAlignment</key>
	<string>channelPlatformSpacing</string>
</dict>
</plist>
