<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardContainPattern</key>
	<string>tickerFromCycle</string>
	<key>coordinatorBeyondMediator</key>
	<string>navigationLevelTail</string>
	<key>cursorByVar</key>
	<string>alignmentStructureInset</string>
	<key>intensityJobSkewy</key>
	<string>referenceVersusTemple</string>
	<key>memberCommandMomentum</key>
	<string>curveProcessDuration</string>
	<key>sizedboxVariableSaturation</key>
	<string>queryOrFramework</string>
	<key>storageShapeBrightness</key>
	<string>hashInsideTask</string>
</dict>
</plist>
