<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandJobOpacity</key>
	<string>consultativeTickerDirection</string>
	<key>layerAlongTemple</key>
	<string>labelAboutDecorator</string>
	<key>mediocreTabbarIndex</key>
	<string>heapStateFlags</string>
	<key>resultBesideAdapter</key>
	<string>aspectratioStageKind</string>
	<key>serviceFormAcceleration</key>
	<string>swiftPerJob</string>
</dict>
</plist>
