<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarParameterTransparency</key>
	<string>binaryAdapterSpeed</string>
	<key>collectionDuringPhase</key>
	<string>blocUntilSystem</string>
	<key>completerBesidePrototype</key>
	<string>giftActionDuration</string>
	<key>dedicatedSizeAlignment</key>
	<string>diversifiedListenerShape</string>
	<key>labelAmongTier</key>
	<string>descriptionTypeLeft</string>
	<key>pinchableProjectTension</key>
	<string>riverpodAgainstPhase</string>
	<key>resizableCapacitiesOrigin</key>
	<string>responseVariableMomentum</string>
	<key>singleBitrateCenter</key>
	<string>threadShapeName</string>
	<key>smallInteractorFeedback</key>
	<string>popupAsPlatform</string>
	<key>symmetricGestureFeedback</key>
	<string>secondRequestDelay</string>
</dict>
</plist>
