<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerSkinInterval</key>
	<string>sophisticatedPaddingTransparency</string>
	<key>globalRowFeedback</key>
	<string>substantialContractionValidation</string>
	<key>lossByStyle</key>
	<string>apertureDuringEnvironment</string>
	<key>symmetricLayoutFlags</key>
	<string>navigatorFunctionOpacity</string>
	<key>threadKindEdge</key>
	<string>featureStageFlags</string>
</dict>
</plist>
