<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowTierDepth</key>
	<string>eagerDelegateLeft</string>
	<key>completerPatternVisible</key>
	<string>channelViaComposite</string>
	<key>drawerInSingleton</key>
	<string>textureAgainstFunction</string>
	<key>durationAsFacade</key>
	<string>secondWidgetType</string>
	<key>isolateSystemSaturation</key>
	<string>agilePaddingSpacing</string>
	<key>modulusAtValue</key>
	<string>tweenBesideLayer</string>
	<key>radioCompositeTail</key>
	<string>pageviewBeyondLayer</string>
	<key>segueProxyOrientation</key>
	<string>sliderStageDuration</string>
	<key>synchronousAssetKind</key>
	<string>appbarParamLeft</string>
</dict>
</plist>
