<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicCompleterVisible</key>
	<string>nativeMonsterPosition</string>
	<key>buttonByChain</key>
	<string>statefulPatternCount</string>
	<key>directlyTransformerShape</key>
	<string>swiftAmongKind</string>
</dict>
</plist>
