<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertPrototypeColor</key>
	<string>grainPrototypeAppearance</string>
	<key>coordinatorAtWork</key>
	<string>containerProxyBrightness</string>
	<key>errorShapeRotation</key>
	<string>screenBridgeMode</string>
	<key>graphThroughPattern</key>
	<string>taskWithStyle</string>
	<key>greatFragmentDensity</key>
	<string>equipmentPrototypeTop</string>
	<key>imperativeProviderShape</key>
	<string>cubitVariableState</string>
	<key>monsterInState</key>
	<string>activatedReferenceRight</string>
	<key>specifyGroupOpacity</key>
	<string>instructionVersusBridge</string>
	<key>statelessCollectionTint</key>
	<string>errorFromKind</string>
</dict>
</plist>
